/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color: #DFAA5B;
    --main-font: ubuntu;
}



/*######################################
                HEADER
######################################*/




/*######################################
                MAIN
######################################*/




/*######################################
                FOOTER
######################################*/