/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font: ubuntu;
    --main-font-color: #957554;
    --main-font-color_light: #fff;
    --background-color: #DFAA5B;
}

h1,
h2,
p,
a,
figcaption {
    font-family: var(--main-font);
}

h1 {
    font-size: 3.5em;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    font-weight: 500;
    color: var(--main-font-color);
}

p,
a,
figcaption {
    font-size: 1em;
    font-weight: 500;
    color: var(--main-font-color);
}

/*######################################
                HEADER
######################################*/
.logo {
    display: block;
    margin: 5vh auto 0;
}

.nav {
    width: 50%;
    margin: 5vh auto;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--main-font-color);
    text-decoration: none;
    padding: 0 0.3em;
}

.nav__link:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    background-image: url("../img/hero_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-font-color_light);
    padding: 20vh 0;
}

.hero__h2--light {
    color: var(--main-font-color_light);
    font-size: 1em;
}

.cta {
    color: var(--main-font-color_light);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--background-color);
    width: 25%;
    padding: 15px 0;
    border-radius: 7px;
    text-align: center;
}

.cta:hover {
    background-color: var(--main-font-color);
    color: var(--background-color);
}

/*######################################
                MAIN
######################################*/
.headline {
    text-align: center;
    margin: 5vh 0 0vh;
}

.icon-list {
    padding: 2vh 0 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-list__figcaption {
    text-align: center;
}

.showroom {
    padding: 2vh 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh 5%;
}

.card {
    background-image: url("../img/standard_twin_room.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    width: 45%;
    padding: 30vh 0 5vh;
    border-radius: 10px;
}

.card--standard-room {
    background-image: url("../img/standard_room.png");
}

.card--view-room {
    background-image: url("../img/standard_view_room.png");
}

.card--deluxe-room {
    background-image: url("../img/deluxe_room.png");
}

.card__title {
    color: var(--main-font-color_light);
    font-size: 1.5em;
    font-weight: 500;
}

.cta--slim {
    width: 50%;
}

.booknow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5vh 0 10vh;
}

/*######################################
                FOOTER
######################################*/
.footer p,
.footer a,
.form__label {
    color: var(--main-font-color_light);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 7vh 5% 15vh;
    background-color: black;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__info__img {
    width: 50%;
    padding: 0 0 4vh;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.form__label {
    font-family: var(--main-font);
    font-size: 1.2em;
    padding: 0 0 1vh;
}

.form__input {
    padding: 15px;
    border-radius: 7px;
    border: 0px solid black;
}

.form__cta {
    width: 100%;
    font-weight: 600;
    margin: 1vh 0 0;
    border: 0px solid black;
}