/*######################################
                GENERAL
######################################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ubuntu;
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-font: ubuntu;
    --main-font-color: #957554;
    --main-font-color_light: #fff;
    --background-color: #DFAA5B;
}

h1,
h2,
p,
a {
    font-family: var(--main-font);
}

h1 {
    font-size: 3.5em;
    font-weight: 400;
}

h2,
p,
a {
    font-size: 1em;
    font-weight: 500;
}

/*######################################
                HEADER
######################################*/
.header {
    margin: 5vh 0 0;
    text-align: center;
}

.nav {
    width: 50%;
    margin: 5vh auto 8vh;
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: var(--main-font-color);
    text-decoration: none;
    padding: 0 0.3em;
}

.hero {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 30px;
    background-image: url("../img/hero_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-font-color_light);
    padding: 20vh 0;
}

.cta {
    color: var(--main-font-color_light);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--background-color);
    width: 25%;
    padding: 15px 0;
    border-radius: 7px;
}

/*######################################
                MAIN
######################################*/




/*######################################
                FOOTER
######################################*/